body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: #424249;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
h1{
    font-size: 5vh;
}
ul{
    list-style-type: none;
}
li{
    padding: 1vh;
}

h1, h3, .add-bill-button{
    font-family: 'Righteous', cursive;
}

.logo{
    display: flex;
    align-items: center;
    padding-left: 2vh;
}
#piggy{
    width: 7vw;
    height: 7vh;
}
.header-text{
    display: flex;
    justify-content: space-between;
    padding-right: 2vw;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    padding-top: 7vh;
}
h3, .add-bill-button{
    font-size: 3vh;
}
#expense-box, #bill-box{
    width: 30%;
    padding: 2vw;
    border-radius: 5px;
}
#expense-text, #add-bill{
    padding-bottom: 2vh;
}
#expense-box{
    background-color: #EFE8E1;
    color: black;
    height: 2%;
}
.bills, .input{
    display: flex;
    justify-content: space-between;
}
#items{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trash, .text-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#bill-box{
    background-color: #54D2E5;
    color: black;
    height: 2%;
}
.text-inputs>input{
    border: black solid .5px;
    border-radius: 5px;
    height: 3vh;
    width: 20vw;
}
#name, #amount{
    text-align: center;
}
.add-bill-button{
    background-color: #424249;
    color: white;
    height: 5vh;
    width: 90%;
    margin-left: 5%;
    margin-top: 3vh;
    border-radius: 5px;
    font-size: 3vh;
    border: #424249;
}